<h1>{{title}}</h1>
<div class="checkout-container">
  <div class="login-container">
    <form method="POST" action="">
      <label for="email">Enter your Email Address</label>
      <input type="hidden" name="cart_id" value="{{cart_id}}"/>
      <input type="email" name="email" value="" required> </br>
      <label for="account">Continue as Guest</label>
      <input type="radio" name="account" value="guest" {{#unless user}}checked{{/unless}}></br>
      <label for="account">I have an Account and Password</label>
      <input type="radio" id="radio-user" name="account" value="user" {{#if user}}checked{{/if}}></br>
      <input type="password" id="user-password" {{#unless user}}class="ak-hidden"{{/unless}} name="password"/></br>
      <input type="submit" value="Continue to Checkout">
    </form>
    <a href="/auth/facebook?return_to=/checkout/account">Login with Facebook</a></br>
    <a href="/auth/twitter">Login with Twitter</a>
    <a href="/auth/google?return_to=/checkout/account">Login with Google+</a>
  </div>
</div>
<script>
$(document).ready(function () {
  $('input[name=account]:radio').change(function() {
    if ($("#radio-user").prop('checked')) {
      $('#user-password:input').show();
    } else {
      $('#user-password:input').hide();
    }
  });
});
</script>
