<form id="new-address-form" class="{{this}}" method="POST" action="">
  <input type="text" name="nickname" placeholder="Nickname for Address (optional)"/>
  <input type="text" name="first_name" placeholder="First Name"/>
  <input type="text" name="last_name" placeholder="Last Name"/>
  <input type="text" name="street_line_1" placeholder="Street Line 1"/>
  <input type="text" name="street_line_2" placeholder="Street Line 2 (optional)"/>
  <input type="text" name="city" placeholder="City"/>
  <input type="text" name="state" placeholder="State"/>
  <input type="text" name="zip_code" placeholder="Zip Code"/>
  <input type="text" name="country" placeholder="Country"/>
  <label for="default_shipping_address">Make Default Address?</label>
  <input type="checkbox" name="default_address"/>
  <input type="submit" value="Add Address"/>
</form>
