<h1>{{title}}</h1>
<form method="POST" action="">
  <input type="password" name="current_password" placeholder="Current password"/>
  <input type="password" name="new_password" placeholder="New password"/>
  <input type="password" name="new_password_again" placeholder="New password again"/>
  <input type="submit" value="Change password"/>
</form>
