<h1>{{title}}</h1>
{{> order_table order}}
{{#if change_shipping}}
  <div class="shipping-container">
    <h2>Choose a shipping address</h2>
    {{#if addresses}}
      <h3>Your saved addresses</h3>
    {{/if}}
    <form method="POST" action="/user/orders/{{order.id}}/shipping" class="ak-form">
      {{#each addresses}}
        <input type="radio" name="address_id" value="{{this.id}}"
          {{#unless ../default_address_id}}
            {{#if @first}}checked{{/if}}
          {{/unless}}
          {{#ifCond ../default_address_id '==' this.id}}checked{{/ifCond}}
        />
        <label for="address_id">{{this.displayAddress}}</label>
        <button>Edit</button>
      {{/each}}
      {{#if addresses}}
        <h3>- OR -</h3>
      {{/if}}
      <input type="radio" id="new_address_radio" name="address_id" value="new" {{#unless addresses}}checked{{/unless}}/>
      <label for="address_id">Ship to a new address</label>
      <div id="new_address_form" class="{{#if addresses}}ak-hidden{{/if}} ak-form">
        <input type="text" name="nickname" placeholder="Nickname for Address"/>
        <input type="text" name="first_name" placeholder="First Name"/>
        <input type="text" name="last_name" placeholder="Last Name"/>
        <input type="text" name="street_line_1" placeholder="Street Line 1"/>
        <input type="text" name="street_line_2" placeholder="Street Line 2"/>
        <input type="text" name="city" placeholder="City"/>
        <input type="text" name="state" placeholder="State"/>
        <input type="text" name="zip_code" placeholder="Zip Code"/>
        <input type="text" name="country" placeholder="Country"/>
        <label for="set_default_address">Save as default shipping address?</label>
        <input type="checkbox" name="set_default_address"/>
      </div>
      </br>
      </br>
      <label for="additional_information">Special Instructions</label> </br>
      <input type="textarea" name="additional_information"/> </br>
      <input type="submit" value="Use this address"/>
    </form>
  </div>
  <script>
  $(document).ready(function () {
    $("input[name=address_id]:radio").change(function () {
      if ($("#new_address_radio").prop('checked')) {
        $('#new_address_form').show();
      } else {
        $('#new_address_form').hide();
      }
    })
  });
  </script>
{{/if}}
