<h1>{{title}}</h1>
<form method="POST" action="/user/profile?_method=PUT">
  <label for="email">Email</label>
  <input type="email" name="email" value="{{user.email}}"/>
  <input type="submit" value="Change Email"/>
</form>
<ul>
  <li><a href="/user/password/change">Change Password</a></li>
  <li><a href="/user/addresses">View Addresses</a></li>
  <li><a href="/user/payment_methods">View Payment Methods</a></li>
  <li><a href="/user/orders">View Orders</a></li>
</ul>
