<h1>{{title}}</h1>
<form method="POST" action="">
  <input type="hidden" name="token" value="{{token}}"/>
  <input type="password" name="new_password" placeholder="New password"/>
  <input type="password" name="new_password_again" placeholder="New password again"/>
  <input type="submit" value="Change password"/>
</form>
