<form class="ak-form" method="POST" action="">
  {{#if save_cart_id}}
    <input type="hidden" name="save_cart_id" value="{{save_cart_id}}"/>
  {{/if}}
  <input type="email" id="email" name="email" placeholder="email"/>
  <input type="password" name="password" placeholder="password"/>
  <input type="submit" value="Log In"/>
  <a href="/user/password/forgot?email=" onclick="document.location.href = $(this).attr('href')+ encodeURIComponent($('#email').val()); return false;">
    Forgot your password?
  </a>
</form>
<a href="/auth/facebook">Login with Facebook</a>
<a href="/auth/twitter">Login with Twitter</a>
<a href="/auth/google">Login with Google+</a>
