<form action="" method="post">
  <label for="email">Email: </label>
  <input type="email" name="email" placeholder="email"/>
  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="password"/>
  <label for="admin"> Admin </label>
  <input type="checkbox" name="admin"/>
  <input type="submit" value="Register"/>
</form>
